.dropzone-small .dropzone {
  min-height: 30px;
  padding: 0.5rem; }
  .dropzone-small .dropzone .dz-message {
    margin: 0.5rem 0; }
  .dropzone-small .dropzone .dz-preview {
    width: 90px;
    min-height: 75px; }
    .dropzone-small .dropzone .dz-preview .dz-image {
      width: 90px;
      height: 90px; }
      .dropzone-small .dropzone .dz-preview .dz-image img {
        max-width: 90px;
        max-height: 90px; }
    .dropzone-small .dropzone .dz-preview .dz-details {
      padding: 1rem 0.5rem; }
    .dropzone-small .dropzone .dz-preview .dz-error-message {
      left: 100px; }
  .dropzone-small .dropzone .dz-error {
    color: red !important; }
    .dropzone-small .dropzone .dz-error .dz-error-mark svg {
      border-radius: 50%;
      background: rgba(255, 0, 0, 0.5); }
    .dropzone-small .dropzone .dz-error .dz-error-mark .dz-remove {
      color: red; }

/*# sourceMappingURL=dropzone-edit.css.map */
