
  @font-face {
    font-family: 'RobotoCondensed';
    src: url("fonts/RobotoCondensed-Light.ttf"); }
  @font-face {
    font-family: 'RobotoCondensed';
    src: url("fonts/RobotoCondensed-Bold.ttf");
    font-weight: bold; }
  @font-face {
    font-family: 'RobotoRegula';
    src: url("fonts/RobotoCondensed-Regular.ttf"); }
  @font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto.ttf"), url("fonts/roboto.woff"); }
  @font-face {
    font-family: 'Robotolight';
    src: url("fonts/RobotoCondensed-Light.ttf"); }
  @font-face {
    font-family: 'Robotobold';
    src: url("fonts/robotobold.ttf"), url("fonts/robotobold.woff");
    font-weight: bold; }
  @font-face {
    font-family: 'SVNbold';
    src: url("fonts/SVN-Helvetica Neue Bold.ttf");
    font-weight: bold; }
@font-face {
        font-family: 'SVNavo';
        src: url("fonts/SVN-Avo.ttf");
         }
@font-face {
            font-family: 'SVNavobold';
            src: url("fonts/SVN-Avo\ bold.ttf");
            font-weight: bold; }
@font-face {
            font-family: 'SVNavoitalic';
            src: url("fonts/SVN-Avo\ italic.ttf");
}
@font-face {
    font-family: 'Gothambold';
    src: url("fonts/Gotham-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family:  'FontAwesome';
    src: url('font-awesome-4.7.0/fonts/fontawesome-webfont.ttf'), url("font-awesome-4.7.0/fonts/fontawesome-webfont.woff");
}
        
*{margin: 0; padding: 0;}
p{margin: 0; padding: 0}
ul{margin: 0; padding: 0}
$maunau: #c8631e;
$dorongnoidungtour:1200px;
$khoangcachtourcol:25px;
$dorongtourcol2-2: 575px;
body,html{overflow-x: hidden; font-family: 'Roboto'; box-sizing: border}

.border-b{
    border-bottom:1px solid #d2d2d2;
    margin: 0;
}
.border-b-3{
    border-bottom: 3px solid $maunau;
}
.title-h1{
    font-size: 30px;
    font-family: 'Svnavobold';
    color: $maunau;
    text-transform: uppercase;
    font-weight: bold;
}
 //css cho topheader


.mr-b-20{
    margin-bottom: 20px;
}
.topheader{
    background: #c8631e;
    height: 40px;
    width: 100%;
    position: relative;
    z-index: 999;
    .menu{
        float: right;
        display: flex;
        height: 40px;
        line-height: 40px;
        list-style: none;
        li.topheader__menu-item{
            padding: 0 12px;
            &:hover{
                background: #d3824b;
            }
            a.topheader__menulink{
                color: #fff;
                font-family: 'Roboto';
                text-decoration: none;
            }
        }
    }
    .button-menu{
        display: none;
    }
    .topheader__logo{
        display: none;
    }
}
    //css cho header
.header{
    clear: both;
    height: 87px;
    .header__logo{
        a{
            img{}
        }
    }
    .header__contact{
        display: flex;
        .left{
            width: 60%;
            text-align: right;
            line-height: 87px;
            a{
                img{}
                span{}
            }
        }
        .right{
            width: 40%;
            display: flex;
            margin-top: 22px;
            margin-left: 40px;
           a{
            i{
                background: red;
                width: 45px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                border-radius: 100%;
                color: #fff;
                position: relative;
              &:after{
                content: "";
                display: block;
                width: 55px;
                height: 55px;
                border: 1px solid red;
                background: #fff;
                position: absolute;
                top: -5px;
                left: -5px;
                z-index: -2;
                border-radius: 50%;
              }
            }
           }
           .sdt{
            margin-left: 20px;
            p{
                font-weight: bold;
                color: red;
                &.Hotline{
                    color: #333;
                }
            }
           }
        }
    }
}

.header-banner{
    position: relative;
    z-index: 1;
    .slide-banner{
        .imgcw{
            &:before{
                padding-bottom: 43%;
            }
        }
    }
     .wrap__register{
            position: absolute;
            bottom: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.4);
            height: 200px;
            width: 100%;
            text-align: center;
            .register{
                margin-top: 70px;
                label{
                    position: absolute;
                    top: 25px;
                    color: #fff;
                    padding-left: 10px;
                    font-size: 16px;    
                    font-family: 'RobotoRegular';
                }
                input{
                    width: 390px;
                    height: 50px;
                    padding-left: 10px;
                    margin-left: -4px;
                    &.slide-banner_tour{}
                    &.slide-banner__price{}
                }
                a.slide-banner__button-search{
                    border: transparent;
                    height: 50px;
                    width: 120px;
                    margin-bottom: 5px;
                    margin-left: -4px;
                    border-radius: 0;
                    padding-top: 12px;
                    text-transform: uppercase;
                }
            }
        }
}

    //css cho tim tour
#timtour{
        clear: both;
        width: 100%;
        height: 93px;
        line-height: 93px;
        position: relative;
        border-bottom: 1px solid #ababab;
        .wrap-itemtour{
            img{
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 97px;
                z-index: 1;
            }
        }
        
        .item-tour{
            border-bottom: 3px solid transparent;
            position: relative;
            z-index: 2;
            bottom:2px;
            &:hover{
                border-bottom: 3px solid red;
            }
            a{
                text-decoration: none;
            img{margin-right: 5px;}
            span{
                font-size: 18px;
                text-transform: uppercase;
                font-family: 'SVNbold';
                &.t1{
                    color: #015196;
                }
                &.t2{
                    color: #f0433a;
                }
                &.t3{
                    color: #f2a30f;
                }
                &.t4{
                    color: #0d8e74;
                }
              }
            }
        }
    }
    // css cho loai tour
#loaitour{
        width: 100%;
        height: 133px;
        .borderb-saw{
            width: 100%;
            height: 133px;
            position: absolute;
           
            img{
                position: absolute;
                bottom: 0;
                 width: 100%;
            }
        }
        .wrap-item_loaitour{
            .loaitour-img{
                display: flex;
                margin-top: 25px;
                text-align: center;
            a{
                text-decoration: none;
                color: #333;
                img{
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 10px;}
                p{
                 font-size: 16px;
                font-family: 'Roboto';
                }
                }
            }
        }
        //css cho mui ten slide loai tour
        .slick-prev, .slick-next {           
            border-radius: 100%;
            &:before{
                color: #d7d7d7;
                font-size: 32px;
            }
        }
    }


    //css cho tour-last
#tour-last{
    padding-top: 60px;
    text-align: center;
    background: #f6f6f6;
    h3.tour-last_title{
        font-size: 30px;
        font-family: 'SVNbold';
        color: #c8631e;
        margin-bottom: 30px;
    }
    p{
        font-size: 16px;
        font-family: 'RobotoRegula';
        color: #333;
        margin-bottom: 40px;
    }
       .wrap-item_tour-last{
        display: flex;
        height: 265px;
        margin-bottom: 30px;
        width: 100%;
        box-shadow: 0px 0px 5px 3px #cababaa6;
           &.p2{
            flex-direction: row-reverse;  
            width: 100%;
           }
           .wrap-img_tourlast{
            width: 50%;
            overflow: hidden;
               .imgcw:before{
                padding-bottom: 46%;
               }
           }
           .info_tour-last{
            width: 50%;
               h4{
                font-size: 20px;
                color: #ff8d00;
                margin: 0;
                margin-top: 20px;
                margin-left: 25px;
                margin-bottom: 30px;
                font-family: 'Roboto';
                text-align: left;
               }
               .lichdi{
                display: flex;
                text-align: left;
                   .chuanbi{
                    width: 50%;
                    padding-left: 25px;
                    margin-bottom: 20px;
                    p{
                        font-size: 16px;
                        font-family: 'Roboto';
                        margin-bottom: 5px;}
                   }
                   .khoihanh{
                    p{
                        font-size: 16px;
                        font-family: 'Roboto';
                        margin-bottom: 5px;}
                   }
               }
               .price{
                display: flex;
                   p{font-family: 'Roboto';
                    font-size: 20px;
                    margin: 0;
                    margin-left: 25px;
                    margin-bottom: 30px;
                    &.gia{color: #ed1a23;}
                    &.khuyenmai{
                        text-decoration-line: line-through;
                        color: #999;
                    }
                    }
               }
               a.btn.btn-info.btn-block{
                width: 230px;
                height: 40px;
                margin-left: 25px;
                background: #2587bf;
               }
           }
       } 
    a.xemtatca{
        font-size: 16px;
        font-family: 'RobotoRegula';
        padding: 13px 22px;
        color: #fff;
        margin-top: 38px;
        margin-bottom: 67px;}
}
// css banner
#banner{
    .imgcw:before{
        padding-bottom: 28%;
    }
}

    //css cho khoi tour
.khoi-tour{
    padding-top:60px;
    text-align: center;
    h3{
        font-size: 30px;
        font-family: 'SVNbold';
        color: $maunau;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .title-tour-text{
        margin-bottom: 30px;
        p.title-tour{
            font-size: 16px;
            font-family: 'RobotoRegula';
            color: #333;
            margin-bottom: 0;          
        }
    }  
    .tour-row{
        height: 382px;
        margin-bottom: 40px;
        &.row2{
            flex-direction: row-reverse;
        }
            .wrap-img_tourcol{
                .imgcw{
                    &.img-tourcol{
                        height: 383px;
                    }
                    &::before{padding-bottom: 67%;}
                }
            }
        }
    }
    //het css cho khoi tour 

    //css tour-nuocngoai
.khoi-tour{
    .khoi-tour_row1{
        display: flex;
        flex-wrap: wrap;
        .khoi-tour_col{
            padding: 15px;
            position: relative;
            z-index: 1;
        }
        .khoi-tour_big{
            width: 50%;
            .wrap-img_big{
                .imgcw:before{
                    padding-bottom: 83%;
                }
            }
        }
        .khoi-tour_small{
            width: 25%;
            .wrap-img_small{
                .imgcw::before{
                    padding-bottom: 176%;
                }
            }
        }
        .info-tour{}
    }
}


    //css cho info tour
.info-tour{
    position: absolute;
    bottom: 55px;
    left: 37px;
    color: #fff;
    text-align: left;
    z-index: 9;
    a{
        text-decoration: none;
        color: #fff;
        h4{
            font-weight: bold;
            font-size: 20px; 
            font-family: 'Roboto';
            padding-bottom: 15px;
            width: 100%;
            border-bottom: 1px solid #ddd;
        }
    }
    p{
        font-size: 16px;
        font-family: 'Roboto';
        margin-bottom: 0;
    }
    .giatour{
        display: flex;
        height: 18px;
        line-height: 18px;
        .giakhuyenmai{
            font-size: 18px;
            margin-top:15px;
        }
        .giathuc{
            margin-left: 25px;
            font-size: 16px;
            margin-top:15px;
            text-decoration-line: line-through;
        }
    }
}

// css cho tour tuchon
.dulichtuchon{
    padding-top: 60px;
    background-size: cover;
    padding-bottom: 60px;
    h3{
        font-size: 30px;
        font-family: 'SVNbold';
        color: $maunau;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
        color: #fff;
    }
    p.dulichtuchon-text{
        font-size: 16px;
        color: #fff;
        font-family: 'RobotoRegula';
        text-align: center;
    }
        .item-tourtuchon{
            border-radius: 4px;
            overflow: hidden;
        .imgcw::before{
                padding-bottom: 68%;
            }
            .item-tourtuchon_info{
                background: #fff;
                padding-bottom: 25px;
                    p.item-tuchon_tieude{
                        font-size: 18px;
                    font-family: 'Robotobold';
                    color: $maunau;
                    padding-top: 15px;
                    padding-bottom: 0;
                    padding-left: 20px;
                }
                    
                p.item-tuchon_gia{
                    font-size: 18px;
                    font-family: 'Robotobold';
                     padding-bottom: 10px;
                    border-bottom: 1px solid #ebebeb;
                     margin-top: 20px;
                     padding-left: 20px;
                    b{color: red;
                   
                   
                    }
                }
                p.item-tuchon_noidung{
                    font-size: 16px;
                    font-family: 'RobotoRegula';
                    color: #333;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ebebeb;
                    margin-bottom: 0;
                    padding-left: 20px;
                }
            }
            
        }
}

    //css cho tour yeu thich
#tour-yeuthich{
    padding-top: 60px;
    padding-bottom: 60px;
    h3{
        font-size: 30px;
        font-family: 'SVNbold';
        color: $maunau;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
        position: relative;
    }
    .tour-yeuthich-row1{
        padding-bottom: 24px;
        border-bottom: 1px dotted #d7d7d7;
        .item_tour-yeuthichr1{
            position: relative;
            overflow: hidden;
            text-align: center;
            margin-bottom: 25px;
            .imgcw:before{
                padding-bottom: 80%;
            }
            .item_tour-yeuthichr1_tentour{
                position: absolute;
                bottom: 0;
                z-index: 9;
                width: 100%;
                color: #fff;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 20px;
                    font-family: 'Robotobold';
                }
                p.luotkhach{
                    font-size: 16px;
                    font-family: 'RobotoRegula';
                    border-top: 1px dotted #fff;
                    margin-bottom: 18px;
                    padding-top: 10px;
                }
            }
        }
    }
    .item_tour-yeuthichr2{
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;

        .item_tour-yeuthichr2_tentour{
            position: absolute;
            bottom: 0;
            width: 100%;
            color: #fff;
            z-index: 9;
            a{
                text-decoration: none;
                color: #fff;
                p{
                    font-family: 'Robotobold';
                    font-size: 18px;
                    margin-bottom: 0;
                    margin-left: 10px;
                }
                p.khampha{
                    font-size: 16px;
                    font-family: 'RobotoRegula';
                    &::after{
                        content: "sdj";
                        background-image: url('images/iconkhampha.png');
                        color: transparent;
                        background-repeat: no-repeat;
                        position: relative;
                        top: 5px;
                        left: 10px;
                    }
                }
            }
        }
    }
}
    //het css cho phan tour yeu thich

    //css cho vi sao chon phuong nam travel
#whyselect{
    padding-top: 60px;
    background: #f6f6f6;
    padding-bottom: 60px;
    .whyselect-col{
        margin-bottom: 25px;
    }
    h3{
        font-size: 30px;
        font-family: 'SVNbold';
        color: $maunau;
        text-align: center;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    .col-md-3{
        margin-bottom: 55px;
    }
    h4{
        font-size: 20px;
        color: $maunau;
        font-family: 'Robotobold';
        border-bottom: 3px dotted $maunau;
        margin-bottom: 20px;
        span{
            position: relative;
            top: -7px;
            font-size: 30px;
            color: #fff;
            padding: 8px 17px;
            background: #c8631e;
            margin-right: 10px;
        }
    }
    p{
        margin: 0;
        font-size: 16px;
        color: #333;
        font-family: 'RobotoRegula';
    }
}

    //het css cho phan vi sao chon phuong nam


.slideykien {
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.slideykien-item {
    padding-top: 60px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
}
h3.ykienkh {
    font-size: 30px;
    margin-top:40px;
    margin-bottom: 60px;
    font-family: 'Robotobold';
    text-transform: uppercase;
}
p.noidung-ykien {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 35px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'SVNavoitalic';
}
p.tenkh {
    font-family: 'Robotobold';
    font-size: 20px;
    line-height: 30px;
}




.news-libary{
    padding-top: 60px;
    padding-bottom: 100px;
    .news{
        .new-title{
            .news-title__cap{
                font-size: 30px;
                font-family: 'Roboto';
                text-transform: uppercase;
                font-weight: bold;
                color: orange;
                text-decoration: none;
            }
            .news-title__link{
                float: right;
                margin-top: 16px;
                text-decoration: none;
                color: #999;
            }
        }
        .new-content{
            .new-content__slide{
                .new-content__item{
                        padding-top: 20px;
                    .imgcw{
                        &:before{
                            padding-bottom: 65%;
                        }
                    }
                    h3{
                        font-size: 20px;
                        color: #333;
                        margin-top: 15px;
                    }
                    p{}
                }
            }
            .new-content__s{
                .new-content__s-box{
                        display: flex;
                        padding: 20px 0;
                        border-bottom: 1px solid #d2d2d2;
                    .imgcw{
                        width: 40%;
                        &:before{
                            padding-bottom: 58%;
                        }
                    }
                    .s-box__text{
                            width: 60%;
                            margin-left: 10px;
                        p{}
                    }
                }
            }
        }
        .news-time{
                font-size: 13px;
                color: #adadad;
                        span{
                            i{
                            color: #adadad;
                            margin-right: 5px;
                            &.news-time i.fa.fa-eye {
                            margin-left: 10px;
                            }
                            }
                        }
                    }
    }
    .libary{
        a.libary-link{
            font-size: 30px;
            text-transform: uppercase;
            color: $maunau;
            text-decoration: none;
        }
        .libary-item{
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #adadad;
            .imgcw{
                &:before{
                    padding-bottom: 58%;
                }
                a.libary-item__text{
                        color: #fff;
                        position: relative;
                        z-index: 1;
                        font-size: 16px;
                        font-family: 'Roboto';
                        margin-left: 15px;
                        bottom: 10px;
                }
            }
        }
        .libary-items{
            display: flex;
            margin-top: 20px;
            .libary-items_box{
                width: 33.333%;
                margin-right: 15px;
                text-align: center;
                &:nth-child(3){
                    margin-right: 0;
                }
                .imgcw{
                    &:before{}
                }
                a{
                    &.khachhang{
                        text-decoration: none;
                        color: #333;
                        text-align: center;
                    }
                }
            }
        }
    }
}


footer{
    background: #f6f6f6;
    padding-bottom: 60px;
    .luoicua{
        height: 11px;
    }
    p{
        &.newletter{
            font-size: 20px;
            text-transform: uppercase;
            color: $maunau;
            font-family: 'SVNbold';
            margin-bottom: 20px;
            margin-top: 35px;
        }
    }
    .footer-form{
        position: relative;
        input[type="text"]{
            width: 100%;
            height: 40px;
            padding-left: 10px;
            padding-right: 65px;
        }
         button.btn {
            background: orange;
            position: absolute;
            top: 0px;
            right: 0;
            height: 39px;
            border: none;
            border-radius: 0;
            i{
                color: #fff;
            }
        }
    }
    ul{list-style: none;
        li{
            a{
                color: #333;
                font-size: 16px;
                font-family: 'SVNavo';
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
}

    //css cho phan coppyright
.coppyright{
    .wrap-coppyright{
        max-width: 900px;
        margin-left:  auto;
        margin-right: auto;
        text-align: center;
        p{  margin-top: 20px;
            font-size: 15px;
            color: #333;
            font-family: 'RobotoRegula';
        }
    }
}
    //het css cho phan coppy right

//css nut xemtatca
a.xemtatca{
    background: $maunau;
    font-size: 16px;
    font-family: 'RobotoRegula';
    padding: 13px 22px;
    color: #fff;
    margin-top: 38px;
    margin-bottom: 67px;}

//css back ground cho tour nuoc ngoai
.khoi-tour.tour-nuocngoai{
    background: #f6f6f6;
}

/*#region phần khung ảnh tự căn vừa khung của Tất Thành - khungAnhCrop */
.imgcw {
  position: relative;
  z-index: 1; }
  .imgcw:before {
    content: "";
    display: block;
    padding-bottom: 80%;
   }
  .imgcw .imgc,
  .imgcw .imgc0 {
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .imgcw .imgc0 {
    font-size: 0; }
    .imgcw .imgc0:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
    .imgcw .imgc0 img {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      vertical-align: middle; }
  .imgcw .imgc img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.container{
    max-width: 1200px;
}

//css cho slide


.slide-banner ul.slick-dots {
    bottom: 27px;
}

.slide-banner ul.slick-dots li{
    margin-right: 0;
}

ul.slick-dots {
    position: absolute;
    bottom: 30px;
}

.col-lg-6.new-content__slide.slick-initialized.slick-slider.slick-dotted ul.slick-dots {
    bottom: -30px;
}

ul.slick-dots li {
    margin: 0px;
    margin-right: 5px;
}
ul.slick-dots {
    position: absolute;
    bottom: 60px;
    z-index: 999;
}
ul.slick-dots li button{
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
}
.new-content__slide ul.slick-dots li button{
    background: #d7d7d7;
}
ul.slick-dots li.slick-active button{
    background: #fff;
}
.new-content__slide ul.slick-dots li.slick-active button{
    background: red;
}
.slick-dots li button::before {
    width: 0;
    height: 0;
    content: "";
}
.slick-dotted.slick-slider{
    margin: 0;
}


.slick-slide{
    height: auto;
}
// het css cho slide
.f-left{
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.f-left:first-child{
    margin-left: 0;
}
.mg-0{
    margin-left: 0;
}

a.mxh-item i {
    margin-right: 10px;
    background: red;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    color: #fff;
    border-radius: 100%;
}
a.mxh-item i.facebook{background: #3b5997;}
a.mxh-item i.google{background: #db5149;}
a.mxh-item i.twitter{background: #00aced;}

//css cho rang cua
.tour-trongnuoc{
    overflow: hidden;
    position: relative;
    .sawbot{
    position: absolute;
    bottom: 0;
    left: 0;
    }
}

#tour-yeuthich{
    position: relative;
    .sawtop{
        position: absolute;
        top: -6px;
        left: 0;
    }
    .sawbot{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.sawtop{
    position: absolute;
    top: -6px;
    left: 0;
}
.sawbot{
    position: absolute;
    bottom: 0;
    left: 0;
}
// het css cho rang cua



// css cho tablet
@media screen and (max-width: 992px) {
    *{padding: 0; margin: 0}
ul.menu {
    flex-direction: column;
    position: absolute;
    right: -260px;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
ul.menu.active-menu {
    right: 20px;
    top: 40px;
    opacity: 1;
    visibility: visible;
}
    
.topheader .menu li.topheader__menu-item {
    background: #f7f3ed;
    border-bottom: 2px solid #e1e1e1;
    width: 260px;
}
    
.topheader .menu li.topheader__menu-item a.topheader__menulink {
    color: #333;
}
.topheader .menu.active-menu li.topheader__menu-item:hover a.topheader__menulink {
    color: #fff;
}
    .topheader a.button-menu {
    display: block;
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    text-align: right;
}
    
    .header-banner .wrap__register {
    height: 130px;
}
    
    .header-banner .wrap__register .register {
    margin-top: 31px;
}

    .header-banner .wrap__register .register label {
    top: 5px;
}
    
    .header-banner .wrap__register .register input {
    height: 40px;
    width: 40%;
}
    
    .header-banner .wrap__register .register a.slide-banner__button-search {
    height: 41px;
    padding-top: 8px;
}

    .header .header__contact .right .sdt p {
    font-size: 15px;
}

    .col-lg-6.new-content__s {
    display: none;
}





    #top-header ul li{
        border-bottom: 1px solid #c89f9f;
    }
    #top-header ul li a {
        padding: 20px 0;
        align-items: center;
        background: #c8631e;
    }
    div#top-header ul.menu-active {
        opacity: 1;
        transform: translateX(0%);
    }
    #slide-w .form form input {
        max-width: 240px!important;
    }
a.btn.nut-menu {
        position: absolute;
        right: 6px;
        top: -1px;
        z-index: 1;
    }
a.btn.nut-menu i {
        font-size: 30px;
        color: #fff;
    }

    .form-t{
        p.tukhoa{
            text-align: center;
        }
        p.mucgia{
            text-align: left;
        }
    }

    #slide-w .form form input {
        max-width: 390px;
    }
    #timtour .item-tour a span {
        font-size: 13px;
    }


    #loaitour .slick-prev{
        left: 0;
        z-index: 99;
    }
    #loaitour .slick-next{
        top: 60px;
        right: 0;
        z-index: 99;
    }

    #tour-last .wrap-item_tour-last {
        height: auto;
        display: block;
    }

    #tour-last .wrap-item_tour-last .wrap-img_tourlast {
        width: 100%;
    }

    #tour-last .wrap-item_tour-last .info_tour-last {
        width: 100%;
        padding-bottom: 20px;
    }

    #tour-last .wrap-item_tour-last .info_tour-last .lichdi {
        display: block;
    }
    #tour-last .wrap-item_tour-last .info_tour-last .lichdi .chuanbi{
        width: 100%;
    }
    .khoihanh {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .khoi-tour .khoi-tour_row1 .khoi-tour_small {
        width: 50%;
    }
    .khoi-tour .khoi-tour_row1 .khoi-tour_big .wrap-img_big .imgcw:before {
        padding-bottom: 126%;
    }
    .khoi-tour .khoi-tour_row1 .khoi-tour_small .wrap-img_small .imgcw::before {
        padding-bottom: 126%;
    }
    .display-none{
        display: none!important;
    }
    .whyselect-col{
        margin-bottom: 30px;
        padding: 0 60px;
    }

 .wrap__item-tourquocte.slick-initialized.slick-slider button.slick-prev.slick-arrow {
    left: 87%;
}
   .khoihanh{
    margin-left: 0;
   }
}

//css cho mobile
@media only screen and (max-width: 544px) {
    *{margin: 0;padding: 0;}

   .col-lg-6.col-md-4.header__logo {
    display: none;
}
    .header .header__contact .left{
        width: 40%;
    }
    
    .header .header__contact .right{
        width: 60%;
    }
    
    .header-banner{
        display: none;
    }

    #timtour .wrap-itemtour img{
        display: none;    }

    .col-lg-4.col-md-6.col-12.libary {
    margin-top: 80px;
    }


    .topheader {
        height: 50px;
        background: #f2dada;
    }

    img.topheader__logo {
    display: block!important;
    position: absolute;
    top: -5px;
    left: 15px;
    z-index: 9;
    height: 55px;
}

    i.fa.fa-bars {
    color: #333;
    margin-top: 5px;
}





    ul.menu {
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    width: 92%;
}
    ul.menu.active-menu {
    left: 0;
    top: 40px;
    opacity: 1;
    visibility: visible;
}

    .topheader .menu li.topheader__menu-item {
    background: #f7f3ed;
    border-bottom: 2px solid #e1e1e1;
    width: 100%;
    margin-right: 4%;
    margin-left: 4%;
}

    #top-header ul li a{
        background: #804a24;
    }

    div#header {
        border-bottom: 1px dotted #d6d6d6;
    }

    .header-contact {
        display: block;
        padding-top: 15px;
        margin-bottom: 50px;
        text-align: center;
        width: 100% !important;
    }

    div#slide-w {
        display: none;
    }

    div#timtour {
        background: #f6f6f6;
        height: auto;
        padding-top: 15px;
        border-bottom: none;
    }

    .item-tour {
        height: auto;
        line-height: 30px;
        margin-bottom: 10px;
    }
    
    #timtour .item-tour a span {
        font-size: 9px;
    }

    div#banner {
        display: none;
    }

    .khoi-tour .khoi-tour_row1 .khoi-tour_big {
        width: 100%;
    }

    .khoi-tour .khoi-tour_row1 .khoi-tour_small {
        width: 100%;
    }

    .dulichtuchon .item-tourtuchon {
        margin-bottom: 25px;
    }

    #tour-yeuthich .tour-yeuthich-row1 {
        border-bottom: none;
    }

    .news.slick-initialized.slick-slider.slick-dotted {
        margin-bottom: 125px;
    }


//css cho trang gioi thieu ban mobile 
.row.like-share_footer {
    height: auto;
    width: 100%;
}

.like-share_footer-left {
    width: 100%!important;
    text-align: right;
}

.like-share_footer .like-share_footer-left span {
    margin-right: 15px!important;
    text-align: center;
}

.like-share_footer-right {
    width: 100%!important;
    }


.col-lg-3.tour-noibat__item {
    margin-bottom: 20px;
}

.wrap__item-tourquocte.slick-initialized.slick-slider button.slick-prev.slick-arrow {
    left: 76%;
}

    //css cho trang tintucchitiet mobile
.socialBox p.socialBox__p {
    flex-direction: column;
}
.socialBox span.socialBox__view {
    width: 100%!important;
    margin-bottom: 10px;
}

.socialBox span.FontSize {
    width: 100%!important;
    text-align: center;
}
    //hetcss cho tran tin tuc chi tiet mobile

}
        //het css cho mobile
// CSS cho trang gioi thieu

.gioithieu-row1{
    background: #f6f6f6;
    min-height: 60px;
    line-height: 60px;
    a{
        font-size: 16px;
        font-family: 'RobotoRegula';
        color: #333;
        text-decoration: none;
            background-image: url(images/iconkhampha.png);
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 24px;
        margin-right: 10px;
        &:last-child{
            background-image: none;
        }
        &.row1_back-home{
            background-image: url('images/iconkhampha.png');
            background-repeat: no-repeat;
            background-image: url(images/iconkhampha.png);
            background-repeat: no-repeat;
            background-position: right;
            padding-right: 24px;
            margin-right: 10px;
        }
    }
}

//css cho phan welcome

.welcome{
    padding-bottom: 60px;
    p.welcome_cap{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px;
        font-family: 'Gothambold';
        color: $maunau;
    }
    .welcome_slide{
        .welcome_slide_item{
            .imgcw{
            &:before{
                padding-bottom: 65%;
                }
            }
         }
    }
    .welcome_text{
        p{
            font-size: 16px;
            font-family: 'RobotoRegula';
            color: #555;
            &.welcome_content{
                margin-bottom: 60px;
            }
            &.welcome_icon-star{
                background-repeat: no-repeat;
                background-position: left;
                padding-left: 25px;
            }
        }
    }
   .cricle-bars{
            margin-top: 60px;
        .cricle-progress{
            margin: 0;
            padding: 0;
            .imgcw{
                &:before{
                    padding-bottom: 128%;
                }
            }
        }
   }
}

    .video-tour{
        padding-top: 60px;
        padding-bottom: 60px;
        background-size: cover;
        background-attachment: fixed;
     h3{
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 30px;
    }
    p{
        color: #fff;
    }
 }
    .video-tour p.icon-star{
        background-image: url('images/icon-star.png');
                background-repeat: no-repeat;
                background-position: left;
                padding-left: 25px;
                font-size: 16px;
                font-family: 'RobotoRegula';
    }
     .video-tour__text{
        padding-top: 60px;

        p{
            font-size: 16px;
            font-family: 'Robotoregula';
            line-height: 30px;
            margin-bottom: 60px;
            }
        }

    // css cho cac tour noi bat 
.tour-noibat{
        padding-top: 60px;
        padding-bottom: 60px;
        font-family: 'RobotoRegular';
    .tour-noibat__img{
        .tour-noibat__item{
            .imgcw{
                &:before{padding-bottom: 66%;}
            }
        }
    }
    p{    
        font-size: 16px;
        line-height: 30px;
        margin-top: 40px;}
        .tour-noibat__item-title{
                position: absolute;
                bottom: 10px;
                z-index: 1;
                left: 25px;
                color: #fff;
                font-size: 16px;
                font-family: 'Robotobold';
            }
}




//het css cho trang gioi thieu







//css cho trang dulichquocte

.wrap-tourquocte{
    padding-bottom: 60px;
   h1{
        font-size: 30px;
        color: $maunau;
        font-family: 'SVNbold';
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-top: 60px;
    }
    p.wrap-tourquocte__text1{
        font-size: 16px;
        color: #333;
        font-family: 'Roboto';
        line-height: 23px;
        margin-bottom: 30px;
    }
    .wrap__item-tourquocte{
        .item-tourquocte{
            margin-bottom: 40px;
            .imgcw{
                &:before{padding-bottom: 65%;}
            }
            .item-tourquocte__price{
                    position: absolute;
                    top: 210px;
                    z-index: 1;
                    color: #fff;
                    left: 25px;
                    font-family: 'Roboto';
                span{
                    &.item-tourquocte__price1{
                            font-size: 18px;
                    }
                    &.item-tourquocte__price2{
                        font-size: 16px;
                        margin-left: 80px;
                    }
                }
            }
            .item-tourquocte__info{
                background: #f6f6f6;
                border: 1px solid #d9d9d9;
                border-bottom: 0;
                padding: 0 20px;
                padding-bottom: 30px;
                p.item-tourquocte__info-title{
                        font-size: 20px;
                        color: #333;
                        margin-top: 30px;
                }
                p{
                    span.day{color: red;
                        margin-right: 30px;}
                    span.slot{color: red;}
                &.item-tourquocte__info-dayslot{
                    margin-bottom: 30px;
                }
                &.item-tourquocte__info-content{
                    font-size: 16px;
                    font-family: 'RobotoRegular';
                    color: #999;
                }
                }
            }
            .book-tour{
                display: flex;
                a{
                    width: 50%;
                    border: 1px solid #d9d9d9;
                    border-radius: 0;
                    font-size: 16px;
                    font-family: 'Robotobold';
                    height: 45px;
                    padding-top: 10px;
                    color: #333;
                &:hover{
                    background: $maunau;
                    color: #fff;
                }
                &.button-booktour{
                    border-right: none;
                }
                }
            }
        }
    }
    
}

        // css cho phan phan trang
.paging.SplitPages {
    text-align: center;
        a{
            border: 1px solid #d6d6d6;
            padding: 8px 13px;
            color: #999;
            text-decoration: none;
        }
    }
        
        // het cscs cho phan trang



//hetcss cho trang du lich quoc te

//css cho chi tiet quoc te 
.chitiet-quocte{
    margin-top: 40px;
    margin-bottom: 25px;
    .images-box{
        a{
        pointer-events: none;
        }
        .image-box_shows{
            .images-box_show{
                .imgcw{
                    &:before{
                        padding-bottom: 65%;
                    }
                }
            }
        }
        .image-box_more{
            margin-left: -5px;
            margin-right: -5px;
            .image-box_more-item{
                padding: 15px 5px;
            }
        }
    }
    .deta-info{
        .deta-info_caption{
            color: $maunau;
            font-size: 23px;
            font-family: 'Robotobold';
        }
        .deta-info_text{
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
            font-family: 'RobotoRegular';
            color: #333;
        }
        .deta-info_details{
            p{
                font-size: 16px;
            }
            .cap-matour{
                p{}
            }
            .matour{
                p{}
            }
            .cap-khoihanh{
                p{}
            }
            .khoihanh{
                p{

                }
            }
            .ngaykhac{
                p{
                    color: red;
                    i{color: #333;}
                }
            }
            .book{
                p{
                    line-height: 40px;
                    &.gia{
                        border-bottom: 1px solid #f6f6f6;
                    }
                    span{color: red;}
                }
            }
            .booknow{
                background: #c8631e;
                margin-top: 20px;
                color: #fff;
                &:hover{
                    background: #c78d5c;
                }
            }
        }
    }
    .tab-select{
        margin-top: 20px;
        a.tab-select__button{
            color: #333;
            font-size: 16px;
            padding: 10px 12px;
            background: #fff;
            margin-right: 5px;
            text-decoration: none;
            &:hover{
                background:$maunau;
                color: #fff
            }
            i{
                margin-right: 5px;
            }
        }
    }
    .tab-text{
        border: 1px solid #f6f6f6;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        color: #333;
        margin-top: 8px;
        overflow: hidden;
        width: 100%;
        .tab-text__item{
            display: none;
            p{
                line-height: 25px;

            }
            .tab-text_gioithieu{
                p{
                    font-size: 16px;
                }
                p.tab-text__lichtrinh{
                    margin: 30px 0;
                    font-family: 'Robotobold';
                }
            }
            .tab-text__day{
                padding-left: 50px;
                h5.tab-text__cap{
                    font-size: 18px;
                    color: $maunau;
                    font-weight: bold;
                    font-family: 'Robotobold';
                    margin: 30px 0;
                    position: relative;
                    z-index: 1;
                    &:before{
                        content: "";
                        background-image: url(images/icon-ngaydi.png);
                        background-repeat: no-repeat;
                        display: block;
                        width: 34px;
                        height: 50px;
                        position: absolute;
                        left: -47px;
                        top: -10px;
                        z-index: 1;
                    }
                }
                p{
                    span.tab-text__span{
                        color: $maunau;
                        font-family: 'Robotobold';
                    }
                }
            }
        }
    }
}
.image-box_more button.slick-prev.slick-arrow {
    left: 5px;
    z-index: 9;
}
.image-box_more button.slick-next.slick-arrow {
    right: 5px;
    z-index: 9;
}

.chitiet-quocte .tab-text .tab-text__item.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.chitiet-quocte .tab-select a.tab-select__button.active-button{
    background: $maunau;
    color: #fff;
}

.wrap__item-tourquocte{
    margin-left: -10px;
    margin-right: -10px;
        .item-tourquocte{
            margin-bottom: 40px;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
            z-index: 1;
            .imgcw{
                &:before{padding-bottom: 65%;}
            }
            .item-tourquocte__price{
                    position: absolute;
                    top: 210px;
                    z-index: 1;
                    color: #fff;
                    left: 25px;
                    font-family: 'Roboto';
                span{
                    &.item-tourquocte__price1{
                            font-size: 18px;
                    }
                    &.item-tourquocte__price2{
                        font-size: 16px;
                        margin-left: 80px;
                    }
                }
            }
            .item-tourquocte__info{
                background: #f6f6f6;
                border: 1px solid #d9d9d9;
                border-bottom: 0;
                padding: 0 20px;
                padding-bottom: 30px;
                p.item-tourquocte__info-title{
                        font-size: 20px;
                        color: #333;
                        margin-top: 30px;
                }
                p{
                    span.day{color: red;
                        margin-right: 30px;}
                    span.slot{color: red;}
                &.item-tourquocte__info-dayslot{
                    margin-bottom: 30px;
                }
                &.item-tourquocte__info-content{
                    font-size: 16px;
                    font-family: 'RobotoRegular';
                    color: #999;
                }
                }
            }
            .book-tour{
                display: flex;
                a{
                    width: 50%;
                    border: 1px solid #d9d9d9;
                    border-radius: 0;
                    font-size: 16px;
                    font-family: 'Robotobold';
                    height: 45px;
                    padding-top: 10px;
                    color: #333;
                &:hover{
                    background: $maunau;
                    color: #fff;
                }
                &.button-booktour{
                    border-right: none;
                }
                }
            }
        }
    }
    
    .xemthemtour{
        padding-top: 60px;
        padding-bottom: 40px;
        h1{
           @extend .title-h1; 
           margin-bottom: 30px;
        }
    }
    .wrap__item-tourquocte .slick-next:before {
            display: inline-block;
            width: 38px;
            height: 34px;
            content: "\f054";
            background: transparent;
            font-family: FontAwesome;
            color: #666666;
            font-size: 20px;
            border: 1px solid #d9d9d9;
            line-height: 34px;
            text-align: center;
    }
    .wrap__item-tourquocte .slick-next {
            top: -40px;
            right: 18px;
        }
    .wrap__item-tourquocte .slick-prev:before {
            display: inline-block;
            width: 38px;
            height: 34px;
            content: "\f053";
            background: transparent;
            font-family: FontAwesome;
            color: #666666;
            font-size: 20px;
            border: 1px solid #d9d9d9;
            line-height: 34px;
            text-align: center;
    }
    .wrap__item-tourquocte .slick-prev {
            top: -40px;
            left: auto;
            right: 60px;
    }
    .row.tab-text_img-row{
        margin-right: 10px;
        margin-left: 10px;
    }

    .tab-img__item {
        padding: 5px;
    }


//het css cho chi tiet quoc te



        //css cho trang tintuc
    .wrap-tintuc{
        padding-top: 30px;
        padding-bottom: 60px;
        h1{
            @extend .title-h1;
            margin-bottom: 30px;
        }
        .wrap-tintuc__item{
            margin-right: -25px;
            margin-left: -25px;
            padding-bottom: 30px;
        }
        .tintuc__item{
            .item__img{
                .imgcw{
                    &:before{padding-bottom: 67%;}
                }
            }
            .item__info{
                    padding-top: 15px;
                    padding-bottom: 15px;
                p{
                    font-size: 16px;
                    color: #333;
                    &.item__info-title{
                        font-family: 'Robotobold';
                        margin-bottom: 10px;
                    }
                    &.item__info-time{
                        font-size: 14px;
                        color: #999;
                        margin-bottom: 10px;
                        font-family: 'RobotoRegular';
                    }
                    &.item__info-content{
                        font-family: 'RobotoRegular';
                    }
                }
            }
        }
    }   

        //het css cho trang tin tuc


        // css cho trang chitiettintuc
.chitiet-tintuc{
    padding-top: 30px;
    h1{
        @extend .title-h1;
        margin-bottom: 30px;
    }
    .content{
            h4 {
                background-repeat: no-repeat;
                padding-left: 62px;
                color: $maunau;
            }
        p{
            font-family: 'RobotoRegular';
            color: #333;
            line-height: 25px;
            margin-bottom: 20px;
        }
        .imgcw{
            margin-bottom: 20px;
            &:before{
                padding-bottom: 0;
            }
        }
    }
    .wrap-tintuc__item{
        .tintuc__item{
            padding: 5px 11px;
            .item__img{
                .imgcw{
                    &:before{padding-bottom: 67%;}
                }
            }
            .item__info{
                    padding-top: 15px;
                    padding-bottom: 15px;
                p{
                    font-size: 16px;
                    color: #333;
                    &.item__info-title{
                        font-family: 'Robotobold';
                        margin-bottom: 10px;
                    }
                    &.item__info-time{
                        font-size: 14px;
                        color: #999;
                        margin-bottom: 10px;
                        font-family: 'RobotoRegular';
                    }
                    &.item__info-content{
                        font-family: 'RobotoRegular';
                    }
                }
            }
        }
    }
    .cactinkhac{
        margin-top:60px;
        margin-bottom: 60px;
        h1{
            @extend .title-h1;
            margin-bottom: 20px;
        }
    }
}

.row.wrap-tintuc__item.slick-initialized.slick-slider .slick-next {
    top: -40px;
    right: 29px;
}
.row.wrap-tintuc__item.slick-initialized.slick-slider .slick-prev {
    top: -40px;
    left: auto;
    right: 75px;
}
.row.wrap-tintuc__item .slick-prev:before {
            display: inline-block;
            width: 38px;
            height: 34px;
            content: "\f053";
            background: transparent;
            font-family: FontAwesome;
            color: #666666;
            font-size: 20px;
            border: 1px solid #d9d9d9;
            line-height: 34px;
            text-align: center;
        }
.row.wrap-tintuc__item .slick-next:before {
            display: inline-block;
            width: 38px;
            height: 34px;
            content: "\f054";
            background: transparent;
            font-family: FontAwesome;
            color: #666666;
            font-size: 20px;
            border: 1px solid #d9d9d9;
            line-height: 34px;
            text-align: center;
        }




        // hetcss cho tran chitiettintuc


// css cho phan like share fb
.like-share_footer{
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    .like-share_footer-left{
        width: 50%;
        a{text-decoration: none; color:#333;}
        span{
            margin-right: 30px;
            color: #999;
            i{margin-right: 5px;}
        }
    }
    .like-share_footer-right{
            width: 50%;
            text-align: right;
        a{
            &.like-fb{
                    height: 30px;
                    line-height: 17px;
                    margin-bottom: 5px;
                    background: #4167b3;
            }
            i{
                margin-right: 5px;
            }
        }
    }
}


            //css cho socialBox
    .socialBox{
        font-size: 14px;
        color: #999;
        font-family: 'Robotoregular';
        p{
           
            &.socialBox__p{
                display: flex;
                padding-bottom: 10px;
                border-bottom: 1px solid #d9d9d9;
            }
        }
        span{
            &.FontSize{
                width: 50%;
                text-align: right ;
            }
            &.socialBox__view{
                width: 50%;
            }
        }
        a{  color: #999;
            margin-right: 5px;
            text-decoration: none;
            &.editFontsize{
                color: #999;
            }
            &.editFontsize-plus{
                background: #d9d9d9;
                padding: 5px 9px;
                border-radius: 5px;            
            }
            &.editFontsize-{
                background: #d9d9d9;
                padding: 5px 11px;
                border-radius: 5px; 
            }
            &.like-fb{
                    height: 30px;
                    line-height: 17px;
                    margin-bottom: 5px;
                    background: #4167b3;
                    color: #fff;
                    font-family: 'Roboto';
                    padding: 5px 9px;
                    border-radius: 3px;
                i{
                    margin-right: 5px;
                }
            }
        }
    }
          
        // khoi tourBox
    
.tourBox{
    h1{
        @extend .title-h1;
        margin-bottom: 20px;
    }
    ul{
        background: #f6f6f6;
        list-style: none;
        padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 30px;
        li{
            position: relative;
            z-index: 1;
            padding: 7px 15px;
            .imgcw{
                &:before{padding-bottom: 60%;}
            }
            .tourBox-item__info{
                padding: 0 30px;
                position: absolute;
                bottom: 5px;
                left: 0;
                z-index: 1;
                a{
                    color: #fff;
                    text-decoration: none;
                    h4{
                        text-align: center;
                        margin-bottom: 55px;
                        font-size: 20px;
                    }
                }
                p{
                    span{
                        display: block;
                        float: right;
                        font-family: 'RobotoRegular';
                        font-size: 14px;
                    }
                }
            }
        }
    }
            .tourBox-slide.slick-initialized.slick-slider .slick-next {
            top: -40px;
            right: 18px;
                    }
            .tourBox-slide.slick-initialized.slick-slider .slick-prev {
                top: -40px;
                left: auto;
                right: 60px;
            }
.tourBox-slide .slick-prev:before {
            display: inline-block;
            width: 38px;
            height: 34px;
            content: "\f053";
            background: transparent;
            font-family: FontAwesome;
            color: #666666;
            font-size: 20px;
            border: 1px solid #d9d9d9;
            line-height: 34px;
            text-align: center;
        }
.tourBox-slide .slick-next:before {
            display: inline-block;
            width: 38px;
            height: 34px;
            content: "\f054";
            background: transparent;
            font-family: FontAwesome;
            color: #666666;
            font-size: 20px;
            border: 1px solid #d9d9d9;
            line-height: 34px;
            text-align: center;
        }
}













            //

