@charset "UTF-8";
@font-face {
  font-family: 'RobotoCondensed';
  src: url("fonts/RobotoCondensed-Light.ttf"); }
@font-face {
  font-family: 'RobotoCondensed';
  src: url("fonts/RobotoCondensed-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'RobotoRegula';
  src: url("fonts/RobotoCondensed-Regular.ttf"); }
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto.ttf"), url("fonts/roboto.woff"); }
@font-face {
  font-family: 'Robotolight';
  src: url("fonts/RobotoCondensed-Light.ttf"); }
@font-face {
  font-family: 'Robotobold';
  src: url("fonts/robotobold.ttf"), url("fonts/robotobold.woff");
  font-weight: bold; }
@font-face {
  font-family: 'SVNbold';
  src: url("fonts/SVN-Helvetica Neue Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'SVNavo';
  src: url("fonts/SVN-Avo.ttf"); }
@font-face {
  font-family: 'SVNavobold';
  src: url("fonts/SVN-Avo bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'SVNavoitalic';
  src: url("fonts/SVN-Avo italic.ttf"); }
@font-face {
  font-family: 'Gothambold';
  src: url("fonts/Gotham-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'FontAwesome';
  src: url("font-awesome-4.7.0/fonts/fontawesome-webfont.ttf"), url("font-awesome-4.7.0/fonts/fontawesome-webfont.woff"); }
* {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

body, html {
  overflow-x: hidden;
  font-family: 'Roboto';
  box-sizing: border; }

.border-b {
  border-bottom: 1px solid #d2d2d2;
  margin: 0; }

.border-b-3 {
  border-bottom: 3px solid #c8631e; }

.title-h1, .xemthemtour h1, .wrap-tintuc h1, .chitiet-tintuc h1, .chitiet-tintuc .cactinkhac h1, .tourBox h1 {
  font-size: 30px;
  font-family: 'Svnavobold';
  color: #c8631e;
  text-transform: uppercase;
  font-weight: bold; }

.mr-b-20 {
  margin-bottom: 20px; }

.topheader {
  background: #c8631e;
  height: 40px;
  width: 100%;
  position: relative;
  z-index: 999; }
  .topheader .menu {
    float: right;
    display: flex;
    height: 40px;
    line-height: 40px;
    list-style: none; }
    .topheader .menu li.topheader__menu-item {
      padding: 0 12px; }
      .topheader .menu li.topheader__menu-item:hover {
        background: #d3824b; }
      .topheader .menu li.topheader__menu-item a.topheader__menulink {
        color: #fff;
        font-family: 'Roboto';
        text-decoration: none; }
  .topheader .button-menu {
    display: none; }
  .topheader .topheader__logo {
    display: none; }

.header {
  clear: both;
  height: 87px; }
  .header .header__contact {
    display: flex; }
    .header .header__contact .left {
      width: 60%;
      text-align: right;
      line-height: 87px; }
    .header .header__contact .right {
      width: 40%;
      display: flex;
      margin-top: 22px;
      margin-left: 40px; }
      .header .header__contact .right a i {
        background: red;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        border-radius: 100%;
        color: #fff;
        position: relative; }
        .header .header__contact .right a i:after {
          content: "";
          display: block;
          width: 55px;
          height: 55px;
          border: 1px solid red;
          background: #fff;
          position: absolute;
          top: -5px;
          left: -5px;
          z-index: -2;
          border-radius: 50%; }
      .header .header__contact .right .sdt {
        margin-left: 20px; }
        .header .header__contact .right .sdt p {
          font-weight: bold;
          color: red; }
          .header .header__contact .right .sdt p.Hotline {
            color: #333; }

.header-banner {
  position: relative;
  z-index: 1; }
  .header-banner .slide-banner .imgcw:before {
    padding-bottom: 43%; }
  .header-banner .wrap__register {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    height: 200px;
    width: 100%;
    text-align: center; }
    .header-banner .wrap__register .register {
      margin-top: 70px; }
      .header-banner .wrap__register .register label {
        position: absolute;
        top: 25px;
        color: #fff;
        padding-left: 10px;
        font-size: 16px;
        font-family: 'RobotoRegular'; }
      .header-banner .wrap__register .register input {
        width: 390px;
        height: 50px;
        padding-left: 10px;
        margin-left: -4px; }
      .header-banner .wrap__register .register a.slide-banner__button-search {
        border: transparent;
        height: 50px;
        width: 120px;
        margin-bottom: 5px;
        margin-left: -4px;
        border-radius: 0;
        padding-top: 12px;
        text-transform: uppercase; }

#timtour {
  clear: both;
  width: 100%;
  height: 93px;
  line-height: 93px;
  position: relative;
  border-bottom: 1px solid #ababab; }
  #timtour .wrap-itemtour img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 97px;
    z-index: 1; }
  #timtour .item-tour {
    border-bottom: 3px solid transparent;
    position: relative;
    z-index: 2;
    bottom: 2px; }
    #timtour .item-tour:hover {
      border-bottom: 3px solid red; }
    #timtour .item-tour a {
      text-decoration: none; }
      #timtour .item-tour a img {
        margin-right: 5px; }
      #timtour .item-tour a span {
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'SVNbold'; }
        #timtour .item-tour a span.t1 {
          color: #015196; }
        #timtour .item-tour a span.t2 {
          color: #f0433a; }
        #timtour .item-tour a span.t3 {
          color: #f2a30f; }
        #timtour .item-tour a span.t4 {
          color: #0d8e74; }

#loaitour {
  width: 100%;
  height: 133px; }
  #loaitour .borderb-saw {
    width: 100%;
    height: 133px;
    position: absolute; }
    #loaitour .borderb-saw img {
      position: absolute;
      bottom: 0;
      width: 100%; }
  #loaitour .wrap-item_loaitour .loaitour-img {
    display: flex;
    margin-top: 25px;
    text-align: center; }
    #loaitour .wrap-item_loaitour .loaitour-img a {
      text-decoration: none;
      color: #333; }
      #loaitour .wrap-item_loaitour .loaitour-img a img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px; }
      #loaitour .wrap-item_loaitour .loaitour-img a p {
        font-size: 16px;
        font-family: 'Roboto'; }
  #loaitour .slick-prev, #loaitour .slick-next {
    border-radius: 100%; }
    #loaitour .slick-prev:before, #loaitour .slick-next:before {
      color: #d7d7d7;
      font-size: 32px; }

#tour-last {
  padding-top: 60px;
  text-align: center;
  background: #f6f6f6; }
  #tour-last h3.tour-last_title {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    margin-bottom: 30px; }
  #tour-last p {
    font-size: 16px;
    font-family: 'RobotoRegula';
    color: #333;
    margin-bottom: 40px; }
  #tour-last .wrap-item_tour-last {
    display: flex;
    height: 265px;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0px 0px 5px 3px #cababaa6; }
    #tour-last .wrap-item_tour-last.p2 {
      flex-direction: row-reverse;
      width: 100%; }
    #tour-last .wrap-item_tour-last .wrap-img_tourlast {
      width: 50%;
      overflow: hidden; }
      #tour-last .wrap-item_tour-last .wrap-img_tourlast .imgcw:before {
        padding-bottom: 46%; }
    #tour-last .wrap-item_tour-last .info_tour-last {
      width: 50%; }
      #tour-last .wrap-item_tour-last .info_tour-last h4 {
        font-size: 20px;
        color: #ff8d00;
        margin: 0;
        margin-top: 20px;
        margin-left: 25px;
        margin-bottom: 30px;
        font-family: 'Roboto';
        text-align: left; }
      #tour-last .wrap-item_tour-last .info_tour-last .lichdi {
        display: flex;
        text-align: left; }
        #tour-last .wrap-item_tour-last .info_tour-last .lichdi .chuanbi {
          width: 50%;
          padding-left: 25px;
          margin-bottom: 20px; }
          #tour-last .wrap-item_tour-last .info_tour-last .lichdi .chuanbi p {
            font-size: 16px;
            font-family: 'Roboto';
            margin-bottom: 5px; }
        #tour-last .wrap-item_tour-last .info_tour-last .lichdi .khoihanh p {
          font-size: 16px;
          font-family: 'Roboto';
          margin-bottom: 5px; }
      #tour-last .wrap-item_tour-last .info_tour-last .price {
        display: flex; }
        #tour-last .wrap-item_tour-last .info_tour-last .price p {
          font-family: 'Roboto';
          font-size: 20px;
          margin: 0;
          margin-left: 25px;
          margin-bottom: 30px; }
          #tour-last .wrap-item_tour-last .info_tour-last .price p.gia {
            color: #ed1a23; }
          #tour-last .wrap-item_tour-last .info_tour-last .price p.khuyenmai {
            text-decoration-line: line-through;
            color: #999; }
      #tour-last .wrap-item_tour-last .info_tour-last a.btn.btn-info.btn-block {
        width: 230px;
        height: 40px;
        margin-left: 25px;
        background: #2587bf; }
  #tour-last a.xemtatca {
    font-size: 16px;
    font-family: 'RobotoRegula';
    padding: 13px 22px;
    color: #fff;
    margin-top: 38px;
    margin-bottom: 67px; }

#banner .imgcw:before {
  padding-bottom: 28%; }

.khoi-tour {
  padding-top: 60px;
  text-align: center; }
  .khoi-tour h3 {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .khoi-tour .title-tour-text {
    margin-bottom: 30px; }
    .khoi-tour .title-tour-text p.title-tour {
      font-size: 16px;
      font-family: 'RobotoRegula';
      color: #333;
      margin-bottom: 0; }
  .khoi-tour .tour-row {
    height: 382px;
    margin-bottom: 40px; }
    .khoi-tour .tour-row.row2 {
      flex-direction: row-reverse; }
    .khoi-tour .tour-row .wrap-img_tourcol .imgcw.img-tourcol {
      height: 383px; }
    .khoi-tour .tour-row .wrap-img_tourcol .imgcw::before {
      padding-bottom: 67%; }

.khoi-tour .khoi-tour_row1 {
  display: flex;
  flex-wrap: wrap; }
  .khoi-tour .khoi-tour_row1 .khoi-tour_col {
    padding: 15px;
    position: relative;
    z-index: 1; }
  .khoi-tour .khoi-tour_row1 .khoi-tour_big {
    width: 50%; }
    .khoi-tour .khoi-tour_row1 .khoi-tour_big .wrap-img_big .imgcw:before {
      padding-bottom: 83%; }
  .khoi-tour .khoi-tour_row1 .khoi-tour_small {
    width: 25%; }
    .khoi-tour .khoi-tour_row1 .khoi-tour_small .wrap-img_small .imgcw::before {
      padding-bottom: 176%; }

.info-tour {
  position: absolute;
  bottom: 55px;
  left: 37px;
  color: #fff;
  text-align: left;
  z-index: 9; }
  .info-tour a {
    text-decoration: none;
    color: #fff; }
    .info-tour a h4 {
      font-weight: bold;
      font-size: 20px;
      font-family: 'Roboto';
      padding-bottom: 15px;
      width: 100%;
      border-bottom: 1px solid #ddd; }
  .info-tour p {
    font-size: 16px;
    font-family: 'Roboto';
    margin-bottom: 0; }
  .info-tour .giatour {
    display: flex;
    height: 18px;
    line-height: 18px; }
    .info-tour .giatour .giakhuyenmai {
      font-size: 18px;
      margin-top: 15px; }
    .info-tour .giatour .giathuc {
      margin-left: 25px;
      font-size: 16px;
      margin-top: 15px;
      text-decoration-line: line-through; }

.dulichtuchon {
  padding-top: 60px;
  background-size: cover;
  padding-bottom: 60px; }
  .dulichtuchon h3 {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    color: #fff; }
  .dulichtuchon p.dulichtuchon-text {
    font-size: 16px;
    color: #fff;
    font-family: 'RobotoRegula';
    text-align: center; }
  .dulichtuchon .item-tourtuchon {
    border-radius: 4px;
    overflow: hidden; }
    .dulichtuchon .item-tourtuchon .imgcw::before {
      padding-bottom: 68%; }
    .dulichtuchon .item-tourtuchon .item-tourtuchon_info {
      background: #fff;
      padding-bottom: 25px; }
      .dulichtuchon .item-tourtuchon .item-tourtuchon_info p.item-tuchon_tieude {
        font-size: 18px;
        font-family: 'Robotobold';
        color: #c8631e;
        padding-top: 15px;
        padding-bottom: 0;
        padding-left: 20px; }
      .dulichtuchon .item-tourtuchon .item-tourtuchon_info p.item-tuchon_gia {
        font-size: 18px;
        font-family: 'Robotobold';
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        margin-top: 20px;
        padding-left: 20px; }
        .dulichtuchon .item-tourtuchon .item-tourtuchon_info p.item-tuchon_gia b {
          color: red; }
      .dulichtuchon .item-tourtuchon .item-tourtuchon_info p.item-tuchon_noidung {
        font-size: 16px;
        font-family: 'RobotoRegula';
        color: #333;
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 0;
        padding-left: 20px; }

#tour-yeuthich {
  padding-top: 60px;
  padding-bottom: 60px; }
  #tour-yeuthich h3 {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    position: relative; }
  #tour-yeuthich .tour-yeuthich-row1 {
    padding-bottom: 24px;
    border-bottom: 1px dotted #d7d7d7; }
    #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 {
      position: relative;
      overflow: hidden;
      text-align: center;
      margin-bottom: 25px; }
      #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 .imgcw:before {
        padding-bottom: 80%; }
      #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 .item_tour-yeuthichr1_tentour {
        position: absolute;
        bottom: 0;
        z-index: 9;
        width: 100%;
        color: #fff; }
        #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 .item_tour-yeuthichr1_tentour a {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          font-family: 'Robotobold'; }
        #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 .item_tour-yeuthichr1_tentour p.luotkhach {
          font-size: 16px;
          font-family: 'RobotoRegula';
          border-top: 1px dotted #fff;
          margin-bottom: 18px;
          padding-top: 10px; }
  #tour-yeuthich .item_tour-yeuthichr2 {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; }
    #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #fff;
      z-index: 9; }
      #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour a {
        text-decoration: none;
        color: #fff; }
        #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour a p {
          font-family: 'Robotobold';
          font-size: 18px;
          margin-bottom: 0;
          margin-left: 10px; }
        #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour a p.khampha {
          font-size: 16px;
          font-family: 'RobotoRegula'; }
          #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour a p.khampha::after {
            content: "sdj";
            background-image: url("images/iconkhampha.png");
            color: transparent;
            background-repeat: no-repeat;
            position: relative;
            top: 5px;
            left: 10px; }

#whyselect {
  padding-top: 60px;
  background: #f6f6f6;
  padding-bottom: 60px; }
  #whyselect .whyselect-col {
    margin-bottom: 25px; }
  #whyselect h3 {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase; }
  #whyselect .col-md-3 {
    margin-bottom: 55px; }
  #whyselect h4 {
    font-size: 20px;
    color: #c8631e;
    font-family: 'Robotobold';
    border-bottom: 3px dotted #c8631e;
    margin-bottom: 20px; }
    #whyselect h4 span {
      position: relative;
      top: -7px;
      font-size: 30px;
      color: #fff;
      padding: 8px 17px;
      background: #c8631e;
      margin-right: 10px; }
  #whyselect p {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-family: 'RobotoRegula'; }

.slideykien {
  text-align: center;
  color: #fff;
  overflow: hidden; }

.slideykien-item {
  padding-top: 60px;
  padding-bottom: 120px;
  background-position: center;
  background-size: cover; }

h3.ykienkh {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: 'Robotobold';
  text-transform: uppercase; }

p.noidung-ykien {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'SVNavoitalic'; }

p.tenkh {
  font-family: 'Robotobold';
  font-size: 20px;
  line-height: 30px; }

.news-libary {
  padding-top: 60px;
  padding-bottom: 100px; }
  .news-libary .news .new-title .news-title__cap {
    font-size: 30px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bold;
    color: orange;
    text-decoration: none; }
  .news-libary .news .new-title .news-title__link {
    float: right;
    margin-top: 16px;
    text-decoration: none;
    color: #999; }
  .news-libary .news .new-content .new-content__slide .new-content__item {
    padding-top: 20px; }
    .news-libary .news .new-content .new-content__slide .new-content__item .imgcw:before {
      padding-bottom: 65%; }
    .news-libary .news .new-content .new-content__slide .new-content__item h3 {
      font-size: 20px;
      color: #333;
      margin-top: 15px; }
  .news-libary .news .new-content .new-content__s .new-content__s-box {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #d2d2d2; }
    .news-libary .news .new-content .new-content__s .new-content__s-box .imgcw {
      width: 40%; }
      .news-libary .news .new-content .new-content__s .new-content__s-box .imgcw:before {
        padding-bottom: 58%; }
    .news-libary .news .new-content .new-content__s .new-content__s-box .s-box__text {
      width: 60%;
      margin-left: 10px; }
  .news-libary .news .news-time {
    font-size: 13px;
    color: #adadad; }
    .news-libary .news .news-time span i {
      color: #adadad;
      margin-right: 5px; }
      .news-libary .news .news-time span i.news-time i.fa.fa-eye {
        margin-left: 10px; }
  .news-libary .libary a.libary-link {
    font-size: 30px;
    text-transform: uppercase;
    color: #c8631e;
    text-decoration: none; }
  .news-libary .libary .libary-item {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #adadad; }
    .news-libary .libary .libary-item .imgcw:before {
      padding-bottom: 58%; }
    .news-libary .libary .libary-item .imgcw a.libary-item__text {
      color: #fff;
      position: relative;
      z-index: 1;
      font-size: 16px;
      font-family: 'Roboto';
      margin-left: 15px;
      bottom: 10px; }
  .news-libary .libary .libary-items {
    display: flex;
    margin-top: 20px; }
    .news-libary .libary .libary-items .libary-items_box {
      width: 33.333%;
      margin-right: 15px;
      text-align: center; }
      .news-libary .libary .libary-items .libary-items_box:nth-child(3) {
        margin-right: 0; }
      .news-libary .libary .libary-items .libary-items_box a.khachhang {
        text-decoration: none;
        color: #333;
        text-align: center; }

footer {
  background: #f6f6f6;
  padding-bottom: 60px; }
  footer .luoicua {
    height: 11px; }
  footer p.newletter {
    font-size: 20px;
    text-transform: uppercase;
    color: #c8631e;
    font-family: 'SVNbold';
    margin-bottom: 20px;
    margin-top: 35px; }
  footer .footer-form {
    position: relative; }
    footer .footer-form input[type="text"] {
      width: 100%;
      height: 40px;
      padding-left: 10px;
      padding-right: 65px; }
    footer .footer-form button.btn {
      background: orange;
      position: absolute;
      top: 0px;
      right: 0;
      height: 39px;
      border: none;
      border-radius: 0; }
      footer .footer-form button.btn i {
        color: #fff; }
  footer ul {
    list-style: none; }
    footer ul li a {
      color: #333;
      font-size: 16px;
      font-family: 'SVNavo';
      text-decoration: none; }
      footer ul li a:hover {
        text-decoration: none;
        color: #333; }

.coppyright .wrap-coppyright {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .coppyright .wrap-coppyright p {
    margin-top: 20px;
    font-size: 15px;
    color: #333;
    font-family: 'RobotoRegula'; }

a.xemtatca {
  background: #c8631e;
  font-size: 16px;
  font-family: 'RobotoRegula';
  padding: 13px 22px;
  color: #fff;
  margin-top: 38px;
  margin-bottom: 67px; }

.khoi-tour.tour-nuocngoai {
  background: #f6f6f6; }

/*#region phần khung ảnh tự căn vừa khung của Tất Thành - khungAnhCrop */
.imgcw {
  position: relative;
  z-index: 1; }

.imgcw:before {
  content: "";
  display: block;
  padding-bottom: 80%; }

.imgcw .imgc,
.imgcw .imgc0 {
  overflow: hidden;
  text-align: center;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.imgcw .imgc0 {
  font-size: 0; }

.imgcw .imgc0:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%; }

.imgcw .imgc0 img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle; }

.imgcw .imgc img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container {
  max-width: 1200px; }

.slide-banner ul.slick-dots {
  bottom: 27px; }

.slide-banner ul.slick-dots li {
  margin-right: 0; }

ul.slick-dots {
  position: absolute;
  bottom: 30px; }

.col-lg-6.new-content__slide.slick-initialized.slick-slider.slick-dotted ul.slick-dots {
  bottom: -30px; }

ul.slick-dots li {
  margin: 0px;
  margin-right: 5px; }

ul.slick-dots {
  position: absolute;
  bottom: 60px;
  z-index: 999; }

ul.slick-dots li button {
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #fff; }

.new-content__slide ul.slick-dots li button {
  background: #d7d7d7; }

ul.slick-dots li.slick-active button {
  background: #fff; }

.new-content__slide ul.slick-dots li.slick-active button {
  background: red; }

.slick-dots li button::before {
  width: 0;
  height: 0;
  content: ""; }

.slick-dotted.slick-slider {
  margin: 0; }

.slick-slide {
  height: auto; }

.f-left {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px; }

.f-left:first-child {
  margin-left: 0; }

.mg-0 {
  margin-left: 0; }

a.mxh-item i {
  margin-right: 10px;
  background: red;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  color: #fff;
  border-radius: 100%; }

a.mxh-item i.facebook {
  background: #3b5997; }

a.mxh-item i.google {
  background: #db5149; }

a.mxh-item i.twitter {
  background: #00aced; }

.tour-trongnuoc {
  overflow: hidden;
  position: relative; }
  .tour-trongnuoc .sawbot {
    position: absolute;
    bottom: 0;
    left: 0; }

#tour-yeuthich {
  position: relative; }
  #tour-yeuthich .sawtop {
    position: absolute;
    top: -6px;
    left: 0; }
  #tour-yeuthich .sawbot {
    position: absolute;
    bottom: 0;
    left: 0; }

.sawtop {
  position: absolute;
  top: -6px;
  left: 0; }

.sawbot {
  position: absolute;
  bottom: 0;
  left: 0; }

@media screen and (max-width: 992px) {
  * {
    padding: 0;
    margin: 0; }

  ul.menu {
    flex-direction: column;
    position: absolute;
    right: -260px;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    transition: .4s; }

  ul.menu.active-menu {
    right: 20px;
    top: 40px;
    opacity: 1;
    visibility: visible; }

  .topheader .menu li.topheader__menu-item {
    background: #f7f3ed;
    border-bottom: 2px solid #e1e1e1;
    width: 260px; }

  .topheader .menu li.topheader__menu-item a.topheader__menulink {
    color: #333; }

  .topheader .menu.active-menu li.topheader__menu-item:hover a.topheader__menulink {
    color: #fff; }

  .topheader a.button-menu {
    display: block;
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    text-align: right; }

  .header-banner .wrap__register {
    height: 130px; }

  .header-banner .wrap__register .register {
    margin-top: 31px; }

  .header-banner .wrap__register .register label {
    top: 5px; }

  .header-banner .wrap__register .register input {
    height: 40px;
    width: 40%; }

  .header-banner .wrap__register .register a.slide-banner__button-search {
    height: 41px;
    padding-top: 8px; }

  .header .header__contact .right .sdt p {
    font-size: 15px; }

  .col-lg-6.new-content__s {
    display: none; }

  #top-header ul li {
    border-bottom: 1px solid #c89f9f; }

  #top-header ul li a {
    padding: 20px 0;
    align-items: center;
    background: #c8631e; }

  div#top-header ul.menu-active {
    opacity: 1;
    transform: translateX(0%); }

  #slide-w .form form input {
    max-width: 240px !important; }

  a.btn.nut-menu {
    position: absolute;
    right: 6px;
    top: -1px;
    z-index: 1; }

  a.btn.nut-menu i {
    font-size: 30px;
    color: #fff; }

  .form-t p.tukhoa {
    text-align: center; }
  .form-t p.mucgia {
    text-align: left; }

  #slide-w .form form input {
    max-width: 390px; }

  #timtour .item-tour a span {
    font-size: 13px; }

  #loaitour .slick-prev {
    left: 0;
    z-index: 99; }

  #loaitour .slick-next {
    top: 60px;
    right: 0;
    z-index: 99; }

  #tour-last .wrap-item_tour-last {
    height: auto;
    display: block; }

  #tour-last .wrap-item_tour-last .wrap-img_tourlast {
    width: 100%; }

  #tour-last .wrap-item_tour-last .info_tour-last {
    width: 100%;
    padding-bottom: 20px; }

  #tour-last .wrap-item_tour-last .info_tour-last .lichdi {
    display: block; }

  #tour-last .wrap-item_tour-last .info_tour-last .lichdi .chuanbi {
    width: 100%; }

  .khoihanh {
    margin-left: 20px;
    margin-bottom: 20px; }

  .khoi-tour .khoi-tour_row1 .khoi-tour_small {
    width: 50%; }

  .khoi-tour .khoi-tour_row1 .khoi-tour_big .wrap-img_big .imgcw:before {
    padding-bottom: 126%; }

  .khoi-tour .khoi-tour_row1 .khoi-tour_small .wrap-img_small .imgcw::before {
    padding-bottom: 126%; }

  .display-none {
    display: none !important; }

  .whyselect-col {
    margin-bottom: 30px;
    padding: 0 60px; }

  .wrap__item-tourquocte.slick-initialized.slick-slider button.slick-prev.slick-arrow {
    left: 87%; }

  .khoihanh {
    margin-left: 0; } }
@media only screen and (max-width: 544px) {
  * {
    margin: 0;
    padding: 0; }

  .col-lg-6.col-md-4.header__logo {
    display: none; }

  .header .header__contact .left {
    width: 40%; }

  .header .header__contact .right {
    width: 60%; }

  .header-banner {
    display: none; }

  #timtour .wrap-itemtour img {
    display: none; }

  .col-lg-4.col-md-6.col-12.libary {
    margin-top: 80px; }

  .topheader {
    height: 50px;
    background: #f2dada; }

  img.topheader__logo {
    display: block !important;
    position: absolute;
    top: -5px;
    left: 15px;
    z-index: 9;
    height: 55px; }

  i.fa.fa-bars {
    color: #333;
    margin-top: 5px; }

  ul.menu {
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    width: 92%; }

  ul.menu.active-menu {
    left: 0;
    top: 40px;
    opacity: 1;
    visibility: visible; }

  .topheader .menu li.topheader__menu-item {
    background: #f7f3ed;
    border-bottom: 2px solid #e1e1e1;
    width: 100%;
    margin-right: 4%;
    margin-left: 4%; }

  #top-header ul li a {
    background: #804a24; }

  div#header {
    border-bottom: 1px dotted #d6d6d6; }

  .header-contact {
    display: block;
    padding-top: 15px;
    margin-bottom: 50px;
    text-align: center;
    width: 100% !important; }

  div#slide-w {
    display: none; }

  div#timtour {
    background: #f6f6f6;
    height: auto;
    padding-top: 15px;
    border-bottom: none; }

  .item-tour {
    height: auto;
    line-height: 30px;
    margin-bottom: 10px; }

  #timtour .item-tour a span {
    font-size: 9px; }

  div#banner {
    display: none; }

  .khoi-tour .khoi-tour_row1 .khoi-tour_big {
    width: 100%; }

  .khoi-tour .khoi-tour_row1 .khoi-tour_small {
    width: 100%; }

  .dulichtuchon .item-tourtuchon {
    margin-bottom: 25px; }

  #tour-yeuthich .tour-yeuthich-row1 {
    border-bottom: none; }

  .news.slick-initialized.slick-slider.slick-dotted {
    margin-bottom: 125px; }

  .row.like-share_footer {
    height: auto;
    width: 100%; }

  .like-share_footer-left {
    width: 100% !important;
    text-align: right; }

  .like-share_footer .like-share_footer-left span {
    margin-right: 15px !important;
    text-align: center; }

  .like-share_footer-right {
    width: 100% !important; }

  .col-lg-3.tour-noibat__item {
    margin-bottom: 20px; }

  .wrap__item-tourquocte.slick-initialized.slick-slider button.slick-prev.slick-arrow {
    left: 76%; }

  .socialBox p.socialBox__p {
    flex-direction: column; }

  .socialBox span.socialBox__view {
    width: 100% !important;
    margin-bottom: 10px; }

  .socialBox span.FontSize {
    width: 100% !important;
    text-align: center; } }
.gioithieu-row1 {
  background: #f6f6f6;
  min-height: 60px;
  line-height: 60px; }
  .gioithieu-row1 a {
    font-size: 16px;
    font-family: 'RobotoRegula';
    color: #333;
    text-decoration: none;
    background-image: url(images/iconkhampha.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 24px;
    margin-right: 10px; }
    .gioithieu-row1 a:last-child {
      background-image: none; }
    .gioithieu-row1 a.row1_back-home {
      background-image: url("images/iconkhampha.png");
      background-repeat: no-repeat;
      background-image: url(images/iconkhampha.png);
      background-repeat: no-repeat;
      background-position: right;
      padding-right: 24px;
      margin-right: 10px; }

.welcome {
  padding-bottom: 60px; }
  .welcome p.welcome_cap {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Gothambold';
    color: #c8631e; }
  .welcome .welcome_slide .welcome_slide_item .imgcw:before {
    padding-bottom: 65%; }
  .welcome .welcome_text p {
    font-size: 16px;
    font-family: 'RobotoRegula';
    color: #555; }
    .welcome .welcome_text p.welcome_content {
      margin-bottom: 60px; }
    .welcome .welcome_text p.welcome_icon-star {
      background-repeat: no-repeat;
      background-position: left;
      padding-left: 25px; }
  .welcome .cricle-bars {
    margin-top: 60px; }
    .welcome .cricle-bars .cricle-progress {
      margin: 0;
      padding: 0; }
      .welcome .cricle-bars .cricle-progress .imgcw:before {
        padding-bottom: 128%; }

.video-tour {
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover;
  background-attachment: fixed; }
  .video-tour h3 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px; }
  .video-tour p {
    color: #fff; }

.video-tour p.icon-star {
  background-image: url("images/icon-star.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 25px;
  font-size: 16px;
  font-family: 'RobotoRegula'; }

.video-tour__text {
  padding-top: 60px; }
  .video-tour__text p {
    font-size: 16px;
    font-family: 'Robotoregula';
    line-height: 30px;
    margin-bottom: 60px; }

.tour-noibat {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'RobotoRegular'; }
  .tour-noibat .tour-noibat__img .tour-noibat__item .imgcw:before {
    padding-bottom: 66%; }
  .tour-noibat p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 40px; }
  .tour-noibat .tour-noibat__item-title {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    left: 25px;
    color: #fff;
    font-size: 16px;
    font-family: 'Robotobold'; }

.wrap-tourquocte {
  padding-bottom: 60px; }
  .wrap-tourquocte h1 {
    font-size: 30px;
    color: #c8631e;
    font-family: 'SVNbold';
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 60px; }
  .wrap-tourquocte p.wrap-tourquocte__text1 {
    font-size: 16px;
    color: #333;
    font-family: 'Roboto';
    line-height: 23px;
    margin-bottom: 30px; }
  .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte {
    margin-bottom: 40px; }
    .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .imgcw:before {
      padding-bottom: 65%; }
    .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .item-tourquocte__price {
      position: absolute;
      top: 210px;
      z-index: 1;
      color: #fff;
      left: 25px;
      font-family: 'Roboto'; }
      .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .item-tourquocte__price span.item-tourquocte__price1 {
        font-size: 18px; }
      .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .item-tourquocte__price span.item-tourquocte__price2 {
        font-size: 16px;
        margin-left: 80px; }
    .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info {
      background: #f6f6f6;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      padding: 0 20px;
      padding-bottom: 30px; }
      .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p.item-tourquocte__info-title {
        font-size: 20px;
        color: #333;
        margin-top: 30px; }
      .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p span.day {
        color: red;
        margin-right: 30px; }
      .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p span.slot {
        color: red; }
      .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p.item-tourquocte__info-dayslot {
        margin-bottom: 30px; }
      .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p.item-tourquocte__info-content {
        font-size: 16px;
        font-family: 'RobotoRegular';
        color: #999; }
    .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .book-tour {
      display: flex; }
      .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .book-tour a {
        width: 50%;
        border: 1px solid #d9d9d9;
        border-radius: 0;
        font-size: 16px;
        font-family: 'Robotobold';
        height: 45px;
        padding-top: 10px;
        color: #333; }
        .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .book-tour a:hover {
          background: #c8631e;
          color: #fff; }
        .wrap-tourquocte .wrap__item-tourquocte .item-tourquocte .book-tour a.button-booktour {
          border-right: none; }

.paging.SplitPages {
  text-align: center; }
  .paging.SplitPages a {
    border: 1px solid #d6d6d6;
    padding: 8px 13px;
    color: #999;
    text-decoration: none; }

.chitiet-quocte {
  margin-top: 40px;
  margin-bottom: 25px; }
  .chitiet-quocte .images-box a {
    pointer-events: none; }
  .chitiet-quocte .images-box .image-box_shows .images-box_show .imgcw:before {
    padding-bottom: 65%; }
  .chitiet-quocte .images-box .image-box_more {
    margin-left: -5px;
    margin-right: -5px; }
    .chitiet-quocte .images-box .image-box_more .image-box_more-item {
      padding: 15px 5px; }
  .chitiet-quocte .deta-info .deta-info_caption {
    color: #c8631e;
    font-size: 23px;
    font-family: 'Robotobold'; }
  .chitiet-quocte .deta-info .deta-info_text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'RobotoRegular';
    color: #333; }
  .chitiet-quocte .deta-info .deta-info_details p {
    font-size: 16px; }
  .chitiet-quocte .deta-info .deta-info_details .ngaykhac p {
    color: red; }
    .chitiet-quocte .deta-info .deta-info_details .ngaykhac p i {
      color: #333; }
  .chitiet-quocte .deta-info .deta-info_details .book p {
    line-height: 40px; }
    .chitiet-quocte .deta-info .deta-info_details .book p.gia {
      border-bottom: 1px solid #f6f6f6; }
    .chitiet-quocte .deta-info .deta-info_details .book p span {
      color: red; }
  .chitiet-quocte .deta-info .deta-info_details .booknow {
    background: #c8631e;
    margin-top: 20px;
    color: #fff; }
    .chitiet-quocte .deta-info .deta-info_details .booknow:hover {
      background: #c78d5c; }
  .chitiet-quocte .tab-select {
    margin-top: 20px; }
    .chitiet-quocte .tab-select a.tab-select__button {
      color: #333;
      font-size: 16px;
      padding: 10px 12px;
      background: #fff;
      margin-right: 5px;
      text-decoration: none; }
      .chitiet-quocte .tab-select a.tab-select__button:hover {
        background: #c8631e;
        color: #fff; }
      .chitiet-quocte .tab-select a.tab-select__button i {
        margin-right: 5px; }
  .chitiet-quocte .tab-text {
    border: 1px solid #f6f6f6;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
    margin-top: 8px;
    overflow: hidden;
    width: 100%; }
    .chitiet-quocte .tab-text .tab-text__item {
      display: none; }
      .chitiet-quocte .tab-text .tab-text__item p {
        line-height: 25px; }
      .chitiet-quocte .tab-text .tab-text__item .tab-text_gioithieu p {
        font-size: 16px; }
      .chitiet-quocte .tab-text .tab-text__item .tab-text_gioithieu p.tab-text__lichtrinh {
        margin: 30px 0;
        font-family: 'Robotobold'; }
      .chitiet-quocte .tab-text .tab-text__item .tab-text__day {
        padding-left: 50px; }
        .chitiet-quocte .tab-text .tab-text__item .tab-text__day h5.tab-text__cap {
          font-size: 18px;
          color: #c8631e;
          font-weight: bold;
          font-family: 'Robotobold';
          margin: 30px 0;
          position: relative;
          z-index: 1; }
          .chitiet-quocte .tab-text .tab-text__item .tab-text__day h5.tab-text__cap:before {
            content: "";
            background-image: url(images/icon-ngaydi.png);
            background-repeat: no-repeat;
            display: block;
            width: 34px;
            height: 50px;
            position: absolute;
            left: -47px;
            top: -10px;
            z-index: 1; }
        .chitiet-quocte .tab-text .tab-text__item .tab-text__day p span.tab-text__span {
          color: #c8631e;
          font-family: 'Robotobold'; }

.image-box_more button.slick-prev.slick-arrow {
  left: 5px;
  z-index: 9; }

.image-box_more button.slick-next.slick-arrow {
  right: 5px;
  z-index: 9; }

.chitiet-quocte .tab-text .tab-text__item.active {
  display: block;
  opacity: 1;
  transform: translateX(0); }

.chitiet-quocte .tab-select a.tab-select__button.active-button {
  background: #c8631e;
  color: #fff; }

.wrap__item-tourquocte {
  margin-left: -10px;
  margin-right: -10px; }
  .wrap__item-tourquocte .item-tourquocte {
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 1; }
    .wrap__item-tourquocte .item-tourquocte .imgcw:before {
      padding-bottom: 65%; }
    .wrap__item-tourquocte .item-tourquocte .item-tourquocte__price {
      position: absolute;
      top: 210px;
      z-index: 1;
      color: #fff;
      left: 25px;
      font-family: 'Roboto'; }
      .wrap__item-tourquocte .item-tourquocte .item-tourquocte__price span.item-tourquocte__price1 {
        font-size: 18px; }
      .wrap__item-tourquocte .item-tourquocte .item-tourquocte__price span.item-tourquocte__price2 {
        font-size: 16px;
        margin-left: 80px; }
    .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info {
      background: #f6f6f6;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      padding: 0 20px;
      padding-bottom: 30px; }
      .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p.item-tourquocte__info-title {
        font-size: 20px;
        color: #333;
        margin-top: 30px; }
      .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p span.day {
        color: red;
        margin-right: 30px; }
      .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p span.slot {
        color: red; }
      .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p.item-tourquocte__info-dayslot {
        margin-bottom: 30px; }
      .wrap__item-tourquocte .item-tourquocte .item-tourquocte__info p.item-tourquocte__info-content {
        font-size: 16px;
        font-family: 'RobotoRegular';
        color: #999; }
    .wrap__item-tourquocte .item-tourquocte .book-tour {
      display: flex; }
      .wrap__item-tourquocte .item-tourquocte .book-tour a {
        width: 50%;
        border: 1px solid #d9d9d9;
        border-radius: 0;
        font-size: 16px;
        font-family: 'Robotobold';
        height: 45px;
        padding-top: 10px;
        color: #333; }
        .wrap__item-tourquocte .item-tourquocte .book-tour a:hover {
          background: #c8631e;
          color: #fff; }
        .wrap__item-tourquocte .item-tourquocte .book-tour a.button-booktour {
          border-right: none; }

.xemthemtour {
  padding-top: 60px;
  padding-bottom: 40px; }
  .xemthemtour h1 {
    margin-bottom: 30px; }

.wrap__item-tourquocte .slick-next:before {
  display: inline-block;
  width: 38px;
  height: 34px;
  content: "\f054";
  background: transparent;
  font-family: FontAwesome;
  color: #666666;
  font-size: 20px;
  border: 1px solid #d9d9d9;
  line-height: 34px;
  text-align: center; }

.wrap__item-tourquocte .slick-next {
  top: -40px;
  right: 18px; }

.wrap__item-tourquocte .slick-prev:before {
  display: inline-block;
  width: 38px;
  height: 34px;
  content: "\f053";
  background: transparent;
  font-family: FontAwesome;
  color: #666666;
  font-size: 20px;
  border: 1px solid #d9d9d9;
  line-height: 34px;
  text-align: center; }

.wrap__item-tourquocte .slick-prev {
  top: -40px;
  left: auto;
  right: 60px; }

.row.tab-text_img-row {
  margin-right: 10px;
  margin-left: 10px; }

.tab-img__item {
  padding: 5px; }

.wrap-tintuc {
  padding-top: 30px;
  padding-bottom: 60px; }
  .wrap-tintuc h1 {
    margin-bottom: 30px; }
  .wrap-tintuc .wrap-tintuc__item {
    margin-right: -25px;
    margin-left: -25px;
    padding-bottom: 30px; }
  .wrap-tintuc .tintuc__item .item__img .imgcw:before {
    padding-bottom: 67%; }
  .wrap-tintuc .tintuc__item .item__info {
    padding-top: 15px;
    padding-bottom: 15px; }
    .wrap-tintuc .tintuc__item .item__info p {
      font-size: 16px;
      color: #333; }
      .wrap-tintuc .tintuc__item .item__info p.item__info-title {
        font-family: 'Robotobold';
        margin-bottom: 10px; }
      .wrap-tintuc .tintuc__item .item__info p.item__info-time {
        font-size: 14px;
        color: #999;
        margin-bottom: 10px;
        font-family: 'RobotoRegular'; }
      .wrap-tintuc .tintuc__item .item__info p.item__info-content {
        font-family: 'RobotoRegular'; }

.chitiet-tintuc {
  padding-top: 30px; }
  .chitiet-tintuc h1 {
    margin-bottom: 30px; }
  .chitiet-tintuc .content h4 {
    background-repeat: no-repeat;
    padding-left: 62px;
    color: #c8631e; }
  .chitiet-tintuc .content p {
    font-family: 'RobotoRegular';
    color: #333;
    line-height: 25px;
    margin-bottom: 20px; }
  .chitiet-tintuc .content .imgcw {
    margin-bottom: 20px; }
    .chitiet-tintuc .content .imgcw:before {
      padding-bottom: 0; }
  .chitiet-tintuc .wrap-tintuc__item .tintuc__item {
    padding: 5px 11px; }
    .chitiet-tintuc .wrap-tintuc__item .tintuc__item .item__img .imgcw:before {
      padding-bottom: 67%; }
    .chitiet-tintuc .wrap-tintuc__item .tintuc__item .item__info {
      padding-top: 15px;
      padding-bottom: 15px; }
      .chitiet-tintuc .wrap-tintuc__item .tintuc__item .item__info p {
        font-size: 16px;
        color: #333; }
        .chitiet-tintuc .wrap-tintuc__item .tintuc__item .item__info p.item__info-title {
          font-family: 'Robotobold';
          margin-bottom: 10px; }
        .chitiet-tintuc .wrap-tintuc__item .tintuc__item .item__info p.item__info-time {
          font-size: 14px;
          color: #999;
          margin-bottom: 10px;
          font-family: 'RobotoRegular'; }
        .chitiet-tintuc .wrap-tintuc__item .tintuc__item .item__info p.item__info-content {
          font-family: 'RobotoRegular'; }
  .chitiet-tintuc .cactinkhac {
    margin-top: 60px;
    margin-bottom: 60px; }
    .chitiet-tintuc .cactinkhac h1 {
      margin-bottom: 20px; }

.row.wrap-tintuc__item.slick-initialized.slick-slider .slick-next {
  top: -40px;
  right: 29px; }

.row.wrap-tintuc__item.slick-initialized.slick-slider .slick-prev {
  top: -40px;
  left: auto;
  right: 75px; }

.row.wrap-tintuc__item .slick-prev:before {
  display: inline-block;
  width: 38px;
  height: 34px;
  content: "\f053";
  background: transparent;
  font-family: FontAwesome;
  color: #666666;
  font-size: 20px;
  border: 1px solid #d9d9d9;
  line-height: 34px;
  text-align: center; }

.row.wrap-tintuc__item .slick-next:before {
  display: inline-block;
  width: 38px;
  height: 34px;
  content: "\f054";
  background: transparent;
  font-family: FontAwesome;
  color: #666666;
  font-size: 20px;
  border: 1px solid #d9d9d9;
  line-height: 34px;
  text-align: center; }

.like-share_footer {
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6; }
  .like-share_footer .like-share_footer-left {
    width: 50%; }
    .like-share_footer .like-share_footer-left a {
      text-decoration: none;
      color: #333; }
    .like-share_footer .like-share_footer-left span {
      margin-right: 30px;
      color: #999; }
      .like-share_footer .like-share_footer-left span i {
        margin-right: 5px; }
  .like-share_footer .like-share_footer-right {
    width: 50%;
    text-align: right; }
    .like-share_footer .like-share_footer-right a.like-fb {
      height: 30px;
      line-height: 17px;
      margin-bottom: 5px;
      background: #4167b3; }
    .like-share_footer .like-share_footer-right a i {
      margin-right: 5px; }

.socialBox {
  font-size: 14px;
  color: #999;
  font-family: 'Robotoregular'; }
  .socialBox p.socialBox__p {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9; }
  .socialBox span.FontSize {
    width: 50%;
    text-align: right; }
  .socialBox span.socialBox__view {
    width: 50%; }
  .socialBox a {
    color: #999;
    margin-right: 5px;
    text-decoration: none; }
    .socialBox a.editFontsize {
      color: #999; }
    .socialBox a.editFontsize-plus {
      background: #d9d9d9;
      padding: 5px 9px;
      border-radius: 5px; }
    .socialBox a.editFontsize- {
      background: #d9d9d9;
      padding: 5px 11px;
      border-radius: 5px; }
    .socialBox a.like-fb {
      height: 30px;
      line-height: 17px;
      margin-bottom: 5px;
      background: #4167b3;
      color: #fff;
      font-family: 'Roboto';
      padding: 5px 9px;
      border-radius: 3px; }
      .socialBox a.like-fb i {
        margin-right: 5px; }

.tourBox h1 {
  margin-bottom: 20px; }
.tourBox ul {
  background: #f6f6f6;
  list-style: none;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 30px; }
  .tourBox ul li {
    position: relative;
    z-index: 1;
    padding: 7px 15px; }
    .tourBox ul li .imgcw:before {
      padding-bottom: 60%; }
    .tourBox ul li .tourBox-item__info {
      padding: 0 30px;
      position: absolute;
      bottom: 5px;
      left: 0;
      z-index: 1; }
      .tourBox ul li .tourBox-item__info a {
        color: #fff;
        text-decoration: none; }
        .tourBox ul li .tourBox-item__info a h4 {
          text-align: center;
          margin-bottom: 55px;
          font-size: 20px; }
      .tourBox ul li .tourBox-item__info p span {
        display: block;
        float: right;
        font-family: 'RobotoRegular';
        font-size: 14px; }
.tourBox .tourBox-slide.slick-initialized.slick-slider .slick-next {
  top: -40px;
  right: 18px; }
.tourBox .tourBox-slide.slick-initialized.slick-slider .slick-prev {
  top: -40px;
  left: auto;
  right: 60px; }
.tourBox .tourBox-slide .slick-prev:before {
  display: inline-block;
  width: 38px;
  height: 34px;
  content: "\f053";
  background: transparent;
  font-family: FontAwesome;
  color: #666666;
  font-size: 20px;
  border: 1px solid #d9d9d9;
  line-height: 34px;
  text-align: center; }
.tourBox .tourBox-slide .slick-next:before {
  display: inline-block;
  width: 38px;
  height: 34px;
  content: "\f054";
  background: transparent;
  font-family: FontAwesome;
  color: #666666;
  font-size: 20px;
  border: 1px solid #d9d9d9;
  line-height: 34px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
